{% extends 'base.html' %}

{% block title %}<title>About Us</title> {% endblock %}

 

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>

<div class="container d-flex justify-content-center">
  <div class="card shadow-lg" style="width: 200%; max-width: 600px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">About Us</h3>
      
      <h1>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
         software like Aldus PageMaker including versions of Lorem Ipsum.
        <br>
         Contrary to popular belief, Lorem Ipsum is not simply random text. 
         It has roots in a piece of classical Latin literature from 45 BC, m
         aking it over 2000 years old. Richard McClintock, a Latin professor a
         t Hampden-Sydney College in Virginia, looked up one of the more obscure La
         tin words, consectetur, from a Lorem Ipsum passage, and going through the cites o
         f the word in classical literature, discovered the undoubtable source. Lorem Ipsum
          comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Ext
          remes of Good and Evil) by Cicero, written in 45 BC. This book is
           a treatise on the theory of ethics, very popular during the Renaissance. 
           The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
            from a line in section 1.10.32
      </h1>





    </div>
  </div>
</div>

{% endblock %}