{% extends 'base.html' %}

 

{% block title %}<title>Register page</title> {% endblock %}

{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>
<br><br><br>

<div class="container d-flex justify-content-center">
  <div class="card shadow-lg" style="width: 100%; max-width: 400px;">
    <div class="card-body">



<form method="POST" action=".">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>

  <div class="mb-3">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" required>
  </div>

  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" required>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>

  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" required>
  </div>

  <div class="mb-3">
    <label for="password2" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2" required>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

      </div>
    </div>
  </div>

<br><br><br><br><br>



{% endblock %}